In [2]:
import pandas as pd
import numpy as np

from controllers.token import Token
from controllers.titlequery import TitleQuery

In [3]:
token = Token()

In [6]:
token.get_token()

'g-jSOa2OZX9OgW5eCrtw_ZRGN3e4px0iQoR_x2egPsrNm8NnaY84OJ2id5FE50vCxnIfCOWDDkIejZ7h7glNPXzPxJ9HdbfwJJlhU3X0Xd7M9ackvU_LXPqELcTxd68iooH2sGYk0TKregqaRHc2prvNwENDxXnxTbcjIsELE0P4kf56bzunBit_v_-X6iA-SD0zVRoaweYP5D0rTncQoJL8UONCIbmj03iNuP-eQ6qiabF2vWDegn7mBiV2dKI_bI7poQtjJtFgm3WNxvMxucP6obBHQn5_6L90PgM3DYA5R6reaC7Ebh6OCBQtL9ms1vCNp0YBumjm40-FFit-4Ipuy0wi1lzXe56p1OBgPT_PB-eKvFEFYecIRZlYsx0rC8cIRZl5n6oMIY94kx37bcGqr5TarwoycHe9db2LI5k'

In [ ]:
title_query = TitleQuery(token)

In [ ]:
queried_data = title_query.get_instrument_data(instrument_type="cedears", country="argentina")

In [139]:
queried_df = pd.DataFrame(queried_data['titulos'])

In [140]:
# Expand the puntas column
queried_df[[key for key in queried_df['puntas'].iloc[0].keys()]] = queried_df['puntas'].apply(lambda x: pd.Series(x))
queried_df.head(2)

,simbolo,puntas,ultimoPrecio,variacionPorcentual,apertura,maximo,minimo,ultimoCierre,volumen,cantidadOperaciones,...,mercado,moneda,descripcion,plazo,laminaMinima,lote,cantidadCompra,precioCompra,precioVenta,cantidadVenta
0,AAL,"{'cantidadCompra': 2.0, 'precioCompra': 4880.5...",4929.5,1.18,4900.00,4998.5,4805.00,4929.5,3668.0,322.0,...,1,1,AMERICAN AIRLINES GROUP INC.,T2,1,1,2.0,4880.5,4924.5,1800.0
1,AALD,"{'cantidadCompra': 50.0, 'precioCompra': 6.9, ...",7.3,3.98,7.02,7.3,7.02,7.3,71.0,4.0,...,1,2,American Airlines Group Inc.,T2,1,1,50.0,6.9,7.4,1.0

In [141]:
queried_df = queried_df[['simbolo', 'ultimoPrecio', 'volumen', 'moneda', 'descripcion', 'plazo', 'precioVenta', 'precioCompra', 'cantidadCompra', 'cantidadVenta']].copy()
queried_df.head(2)

,simbolo,ultimoPrecio,volumen,moneda,descripcion,plazo,precioVenta,precioCompra,cantidadCompra,cantidadVenta
0,AAL,4929.5,3668.0,1,AMERICAN AIRLINES GROUP INC.,T2,4924.5,4880.5,2.0,1800.0
1,AALD,7.3,71.0,2,American Airlines Group Inc.,T2,7.4,6.9,50.0,1.0

In [142]:
# Create a df with the species in ARS
df_pesos = queried_df[queried_df['moneda'] == "1"].copy()

# Filter the species in dollars in dollar D (not cable)
letter = "D"
df_dolares = queried_df[(queried_df['moneda'] == "2") & (queried_df['simbolo'].str.endswith(letter))].copy()

In [143]:
# Join the dfs in ARS ans USD

# Add the name of the species in dollars to be able to join back into them
 # at one point it would be good to have the actual names of the species in dollars, because maybe they are different as the species name in pesos with a D in the end
df_pesos.loc[:,f'simbolo_{letter}'] = df_pesos["simbolo"] + letter

# Join them
df_pesos_and_dollars = pd.merge(df_pesos, df_dolares, left_on='simbolo_D', right_on="simbolo" ,how='left', suffixes=('', '_D'))

In [147]:
# Calculate the new columns MEP
df_pesos_and_dollars.loc[:, 'MEP'] = df_pesos_and_dollars['ultimoPrecio'] / df_pesos_and_dollars['ultimoPrecio_D']
df_pesos_and_dollars.loc[:, "MEP_venta_D"] = df_pesos_and_dollars["precioCompra"] / df_pesos_and_dollars["precioVenta_D"]
df_pesos_and_dollars.loc[:, "MEP_compra_P"] = df_pesos_and_dollars["precioVenta"] / df_pesos_and_dollars["precioCompra_D"]

In [150]:
# Drop rows with missing values in the 'MEP' column
df_mep = df_pesos_and_dollars.dropna(subset=['MEP']).copy()
df_mep = df_mep[df_mep.volumen > 0].copy()
df_mep = df_mep[df_mep.MEP < 9999].copy()

# Calculate the weighted average
mep_promedio_general = np.average(df_mep['MEP'], weights=df_mep['volumen'])
print("El promedio del MEP es: ", round(mep_promedio_general,1), "$")

El promedio del MEP es:  689.2 $

In [151]:
final_filter_volume = df_mep[(df_mep.volumen > 1000) & (df_mep.volumen_D > 100)]
final_filter_volume.sort_values(by="MEP", ascending=False)

,simbolo,ultimoPrecio,volumen,moneda,descripcion,plazo,precioVenta,precioCompra,cantidadCompra,cantidadVenta,...,moneda_D,descripcion_D,plazo_D,precioVenta_D,precioCompra_D,cantidadCompra_D,cantidadVenta_D,MEP,MEP_venta_D,MEP_compra_P
94,GOLD,12024.0,9032.0,1,Barrick Gold,T2,12028.5,12000.0,21.0,1000.0,...,2,Barrick Gold,T2,18.200,17.000,25.0,31.0,707.294118,659.340659,707.558824
143,MSFT,7993.0,14937.0,1,Microsoft,T2,7998.0,7975.0,3700.0,2973.0,...,2,Microsoft,T2,11.700,11.400,41.0,229.0,704.229075,681.623932,701.578947
140,MO,8052.0,2216.0,1,Altria Group,T2,8052.5,8030.0,162.0,2800.0,...,2,Altria Group,T2,11.550,11.450,7.0,7.0,703.231441,695.238095,703.275109
2,ABBV,11523.0,1449.0,1,AbbVie Inc.,T2,11523.0,11455.5,1000.0,1012.0,...,2,Abbvie Inc.,T2,16.900,16.200,36.0,5.0,702.621951,677.840237,711.296296
22,ARKK,2958.0,8764.0,1,Etf Ark Innovation,T2,2972.5,2955.0,27300.0,6310.0,...,2,Etf Ark Innovation,T2,4.500,4.160,50.0,50.0,702.612827,656.666667,714.543269
1,AAPL,13022.5,61531.0,1,Apple,T2,13052.0,13022.5,2200.0,1844.0,...,2,Apple,T2,18.850,18.550,73.0,35.0,702.021563,690.848806,703.611860
244,XOM,17240.0,5955.0,1,Exxon Mobil,T2,17206.5,17166.5,1400.0,299.0,...,2,Exxon Mobil,T2,25.500,24.500,2.0,10.0,700.813008,673.196078,702.306122
31,BABA,7006.0,21559.0,1,Alibaba Group,T2,7008.5,6990.0,2800.0,2800.0,...,2,Alibaba Group,T2,10.100,10.000,40.0,2.0,700.600000,692.079208,700.850000
117,INTC,5173.5,8012.0,1,Intel,T2,5198.0,5173.5,5800.0,422.0,...,2,Intel,T2,8.000,7.270,10.0,23.0,700.067659,646.687500,714.993122
137,META,9235.0,8273.0,1,Meta Platforms Inc,T2,9249.5,9225.0,4500.0,4500.0,...,2,Meta Platforms Inc,T2,13.600,12.500,24.0,16.0,699.621212,678.308824,739.960000
214,TSLA,12788.0,23678.0,1,Tesla,T2,12788.0,12783.0,2500.0,14.0,...,2,Tesla,T2,18.550,18.300,15.0,63.0,698.797814,689.110512,698.797814
175,QCOM,7337.0,3828.0,1,Qualcomm,T2,7363.5,7336.5,4000.0,499.0,...,2,Qualcomm,T2,11.000,10.650,10.0,13.0,698.761905,666.954545,691.408451
15,AMD,7190.5,13896.0,1,Advanced Micro Devices,T2,7207.5,7192.0,10.0,103.0,...,2,Advanced Micro Devices,T2,10.350,10.250,23.0,53.0,698.106796,694.879227,703.170732
202,SPY,16155.0,217644.0,1,Etf Spdr S&P 500,T2,16186.0,16165.0,3.0,44.0,...,2,Etf Spdr S&P 500,T2,23.950,23.150,14.0,95.0,697.840173,674.947808,699.179266
126,KO,8625.0,96196.0,1,The Coca-Cola Company,T2,8626.0,8610.0,20.0,50.0,...,2,The Coca-Cola Company,T2,12.400,12.300,5.0,26.0,695.564516,694.354839,701.300813
169,PFE,12321.0,9966.0,1,Pfizer,T2,12321.0,12296.0,3.0,85.0,...,2,Pfizer,T2,18.200,17.750,32.0,20.0,694.140845,675.604396,694.140845
47,BRKB,12388.0,20544.0,1,Berkshire Hathaway,T2,12380.0,12373.5,7.0,50.0,...,2,Berkshire Hathaway,T2,17.950,17.850,2.0,60.0,694.005602,689.331476,693.557423
205,T,3814.5,4856.0,1,At&T,T2,3834.0,3814.0,8100.0,150.0,...,2,AT&T,T2,5.600,5.500,119.0,32.0,693.545455,681.071429,697.090909
69,DISN,5173.0,28577.0,1,The Walt Disney Company,T2,5178.0,5159.5,3600.0,289.0,...,2,The Walt Disney Company,T2,7.540,7.150,10.0,19.0,693.431635,684.283820,724.195804
240,WMT,20238.0,14687.0,1,Walmart,T2,20232.0,20192.0,1400.0,325.0,...,2,Walmart,T2,30.750,29.000,36.0,14.0,693.082192,656.650407,697.655172
203,SQ,1697.5,13993.0,1,Square Inc.,T2,1716.0,1704.0,22.0,12600.0,...,2,Square Inc,T2,2.660,2.450,378.0,5.0,692.857143,640.601504,700.408163
136,MELI,16168.0,31723.0,1,MercadoLibre,T2,16158.0,16150.0,1.0,951.0,...,2,MercadoLibre,T2,23.350,23.100,5.0,5.0,692.419700,691.648822,699.480519
232,VIST,20625.0,26384.0,1,Vista Energy S.A.B. De C.V.,T2,20647.0,20625.0,23.0,51.0,...,2,Vista Energy S.A.B. De C.V.,T2,29.750,29.500,190.0,20.0,692.114094,693.277311,699.898305
170,PG,22830.0,7286.0,1,Procter & Gamble,T2,22825.0,22780.5,1200.0,280.0,...,2,Procter & Gamble,T2,33.600,32.500,1.0,4.0,691.818182,677.991071,702.307692
134,MCD,8451.5,3822.0,1,McDonald's,T2,8476.5,8453.5,3.0,451.0,...,2,Mcdonald's,T2,12.900,12.250,10.0,52.0,689.918367,655.310078,691.959184
150,NIO,1585.0,211554.0,1,NIO INC.,T2,1585.0,1580.0,199.0,41810.0,...,2,Nio Inc.,T2,2.300,2.250,1.0,8.0,689.130435,686.956522,704.444444
174,PYPL,5500.5,19992.0,1,Paypal Holdings Inc.,T2,5506.0,5500.0,606.0,203.0,...,2,Paypal Holdings Inc.,T2,7.990,7.950,58.0,24.0,688.423029,688.360451,692.578616
176,QQQ,13430.0,10607.0,1,Etf Invesco Qqq Trust,T2,13430.0,13405.0,5.0,5167.0,...,2,Etf Invesco Qqq Trust,T2,19.550,19.100,23.0,2.0,686.956522,685.677749,703.141361
18,AMZN,674.0,566021.0,1,Amazon,T2,676.5,674.0,724.0,21020.0,...,2,Amazon,T2,0.983,0.975,198.0,46.0,685.656155,685.656155,693.846154
166,PBR,11197.0,12138.0,1,Petroleo Brasileiro S.A.,T2,11234.0,11197.0,2800.0,667.0,...,2,Petroleo Brasileiro S.A.,T2,16.350,16.000,105.0,98.0,684.831804,684.831804,702.125000
65,DE,7293.0,3659.0,1,Deere,T2,7293.0,7227.5,1200.0,1200.0,...,2,Deere,T2,11.500,10.300,29.0,25.0,684.788732,628.478261,708.058252
91,GLOB,8254.0,43833.0,1,Globant,T2,8268.0,8250.5,3600.0,895.0,...,2,Globant,T2,12.100,11.700,25.0,13.0,682.148760,681.859504,706.666667
68,DIA,12773.5,16731.0,1,Etf Spdr Dow Jones Industrial,T2,12760.0,12748.0,6500.0,50.0,...,2,Etf Spdr Dow Jones Industrial,T2,18.800,18.500,18.0,160.0,681.253333,678.085106,689.729730
105,HMY,3270.0,6338.0,1,Harmony Gold,T2,3270.0,3258.0,2.0,19.0,...,2,Harmony Gold,T2,4.800,4.400,25.0,60.0,681.250000,678.750000,743.181818
151,NKE,5749.5,5258.0,1,Nike,T2,5749.5,5705.0,1.0,1400.0,...,2,Nike,T2,8.500,8.310,12.0,7.0,680.414201,671.176471,691.877256
157,NVDA,12806.5,10202.0,1,Nvidia,T2,12828.5,12804.0,3700.0,821.0,...,2,Nvidia,T2,18.900,18.400,23.0,30.0,677.592593,677.460317,697.201087
123,JNJ,8089.5,26531.0,1,Johnson & Johnson,T2,8091.0,8070.0,197.0,2636.0,...,2,Johnson & Johnson,T2,11.750,11.700,59.0,10.0,676.945607,686.808511,691.538462
231,VALE,5108.0,10496.0,1,Vale,T2,5112.0,5099.0,5.0,5900.0,...,2,Vale,T2,7.500,7.000,14.0,20.0,676.556291,679.866667,730.285714
34,BBD,2162.0,16730.0,1,Banco Bradesco S.A.,T2,2180.5,2162.0,147.0,18000.0,...,2,Banco Bradesco S.A.,T2,3.200,3.110,50.0,177.0,675.625000,675.625000,701.125402
53,CAT,10200.0,1193.0,1,Caterpillar,T2,10200.0,10163.5,1200.0,2.0,...,2,Caterpillar,T2,15.150,14.500,14.0,95.0,673.267327,670.858086,703.448276
30,BA.C,10497.0,2883.0,1,Bank of America,T2,10524.5,10493.5,1900.0,815.0,...,2,Bank of America,T2,15.700,15.150,8.0,14.0,668.598726,668.375796,694.686469
189,SHOP,375.0,32126.0,1,Shopify Inc.,T2,376.0,375.0,45.0,181.0,...,2,Shopify Inc.,T2,0.570,0.531,199.0,213.0,657.894737,657.894737,708.097928

In [159]:
cols = ["simbolo","descripcion","volumen","ultimoPrecio", "precioVenta","precioCompra","cantidadCompra","cantidadVenta","volumen_D", "ultimoPrecio_D", "precioVenta_D","precioCompra_D","cantidadCompra_D","cantidadVenta_D","MEP", "MEP_venta_D", "MEP_compra_P"]
final_filter_volume[cols].to_csv("blaaa.csv", index=False)